<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboardStyle.css">
</head>

<body>

<div th:if="${message != null}">
    <div id="snackbar" th:text="${message}"></div>
</div>

<script>
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function () {
        x.className = x.className.replace("show", "");
    }, 3000);
</script>

<div class="navbar">
    <i class="fa fa-user-circle" aria-hidden="true"></i> Dashboard
</div>

<div class="row">
    <div class="left-page">
        <h1 class="left-page-h1"><b>G-21</b></h1>
        <hr class="hr">

        <h3 class="left-page-h3">
            <button class="h3-button">
                <a href="/category/get_all" class="h3-a">Category</a>
            </button>
        </h3>
        <hr class="hr">

        <h3 class="left-page-h3">
            <button class="h3-button">
                <a href="/product/get_all" class="h3-a">Product</a>
            </button>
        </h3>
        <hr class="hr">

        <h3 class="left-page-h3">
            <button class="h3-button">
                <a href="/order/get_all" class="h3-a">Orders</a>
            </button>
        </h3>
        <hr class="hr">

        <h3 class="left-page-h3">
            <button class="h3-button">
                <a href="/user/get_all_bot_users" class="h3-a">Bot users</a>
            </button>
        </h3>
        <hr class="hr">

        <hr sec:authorize="hasRole('SUPER_ADMIN')" class="hr hr2">
        <h3 sec:authorize="hasRole('SUPER_ADMIN')" class="left-page-h3">
            <button class="h3-button">
                <a href="/user/get_all" class="h3-a"> <i class="fa fa-user-circle" aria-hidden="true"></i> Employees</a>
            </button>
        </h3>
        <hr sec:authorize="hasRole('SUPER_ADMIN')" class="hr">
    </div>

    <div th:if="${status == 1}" class="right-page">
        <button sec:authorize="hasAuthority('CREATE_CATEGORY') or hasRole('SUPER_ADMIN')" id="addCategory" class="cat-add-btn">Add category</button>

        <form method="post" action="/category/add">
            <div id="addCategoryModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span style="margin: 0 auto" class="close">&times;</span>
                        <h4 style="font-size: 20px">Add category</h4>
                    </div>
                    <div class="modal-body">
                        <label class="table1-label">Name:</label> <br>
                        <input type="text" placeholder="name" class="table1-input" name="name">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="table1-modal-add-btn"><b>add</b></button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            var modal = document.getElementById("addCategoryModal");

            var btn = document.getElementById("addCategory");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <table id="table1" class="table t1">

            <thead class="table-head">
            <tr class="table-tr">
                <th class="table-th">Id</th>
                <th class="table-th">Name</th>
                <th sec:authorize="hasAuthority('CREATE_CATEGORY') or hasRole('SUPER_ADMIN')" class="table-th table-btn">Add child category</th>
                <th sec:authorize="hasAuthority('EDIT_CATEGORY') or hasRole('SUPER_ADMIN')" class="table-th">Edit category</th>
                <th class="table-th">View child categories</th>
            </tr>
            </thead>
            <tbody th:each="category:${categories}" class="table-body">
            <tr class="tbody-tr">
                <td th:text="${category.id}" class="tbody-td"></td>
                <td th:text="${category.name}" class="tbody-td"></td>
                <td sec:authorize="hasAuthority('CREATE_CATEGORY') or hasRole('SUPER_ADMIN')" class="tbody-category-td">
                    <button th:attr="add-data-id=${category.id}" onclick="openModalAdd(this)"
                            class="tbody-category-td-a">add
                    </button>
                </td>
                <td sec:authorize="hasAuthority('EDIT_CATEGORY') or hasRole('SUPER_ADMIN')" class="tbody-category-td">
                    <button th:attr="edit-data-id=${category.id}" onclick="openModalEdit(this)"
                            class="tbody-category-td-a">edit
                    </button>
                </td>

                <td class="tbody-category-td">
                    <div class="dropdown">
                        <button class="dropbtn tbody-category-td-a">view</button>
                        <div class="dropdown-content">
                            <div th:each="childCategory:${category.productCategories}">
                                <h6 class="dropdown-info" th:text="'name: ' + ${childCategory.name}"></h6>
                                <hr class="dropdown-info-hr">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>

            <form method="post" th:action="@{/category/add}">
                <div id="addModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span onclick="addCloseModal()" style="margin: 0 auto" class="close">&times;</span>
                            <h4 style="font-size: 20px">Add category</h4>
                        </div>
                        <div class="modal-body">
                            <label class="table1-label">Name:</label> <br>
                            <input type="text" placeholder="name" class="table1-input" name="name">
                            <input type="hidden" id="categoryId" name="parentId">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="table1-modal-add-btn"><b>add</b></button>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" th:action="@{/category/update}">
                <div id="editModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span onclick="editCloseModal()" style="margin: 0 auto" class="close">&times;</span>
                            <h4 style="font-size: 20px">Edit category</h4>
                        </div>

                        <div class="modal-body">
                            <label class="table1-label">Name:</label> <br>
                            <input type="text" placeholder="name" class="table1-input" name="name">
                            <input type="hidden" id="editCategoryId" name="id">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="table1-modal-add-btn"><b>update</b></button>
                        </div>
                    </div>
                </div>
            </form>

            <script th:inline="javascript">
                function openModalAdd(button) {
                    var productId = button.getAttribute("add-data-id");
                    var modal = document.getElementById("addModal");
                    modal.style.display = "block";
                    document.getElementById("categoryId").value = productId;
                }

                function addCloseModal() {
                    var modal = document.getElementById("addModal");
                    modal.style.display = "none";
                }
            </script>

            <script th:inline="javascript">
                function openModalEdit(button) {
                    var productId = button.getAttribute("edit-data-id");
                    var modal = document.getElementById("editModal");
                    modal.style.display = "block";
                    document.getElementById("editCategoryId").value = productId;
                }

                function editCloseModal() {
                    var modal = document.getElementById("editModal");
                    modal.style.display = "none";
                }
            </script>

        </table>

        <br><br><br>
        <div class="pagination-div" th:if="${pages!=0}">
            <div th:each="pageNumber: ${#numbers.sequence(0, pages)}">
                <form class="pagination-form" action="/category/get_all" method="get">
                    <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                    <button class="pagination-btn" th:text="${pageNumber+1}">1</button>
                </form>
            </div>
        </div>

    </div>

    <div th:if="${status == 2}" class="right-page">
        <button sec:authorize="hasAuthority('CREATE_PRODUCT') or hasRole('SUPER_ADMIN')" id="addProduct" class="cat-add-btn">Add product</button>

        <form method="post" th:action="@{/product/add}">
            <div id="addProductModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span style="margin: 0 auto" class="close">&times;</span>
                        <h4 style="font-size: 20px">Add product</h4>
                    </div>
                    <div class="modal-body">
                        <label class="table1-label">Name:</label> <br>
                        <input type="text" placeholder="name" required class="table1-input" name="name"> <br> <br>

                        <label class="table1-label">Description:</label> <br>
                        <input type="text" placeholder="description" required class="table1-input" name="description">
                        <br> <br>

                        <label class="table1-label">Price:</label> <br>
                        <input type="number" placeholder="price" required min="1" class="table1-input" name="price">
                        <br> <br>

                        <label class="table1-label">Amount:</label> <br>
                        <input type="number" placeholder="amount" required min="1" class="table1-input" name="amount">
                        <br> <br>

                        <select name="categoryId">
                            <div th:each="category: ${categories}">
                                <option th:text="${category.name}" th:value="${category.id}"></option>
                            </div>
                        </select><br>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="table1-modal-add-btn"><b>add</b></button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            var modal = document.getElementById("addProductModal");

            var btn = document.getElementById("addProduct");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <table id="table2" class="table t2">

            <thead class="table-head">
            <tr class="table-tr">
                <th class="table-th">Id</th>
                <th class="table-th">Name</th>
                <th class="table-th">Price</th>
                <th class="table-th">Amount</th>
                <th class="table-th">Change amount</th>
                <th sec:authorize="hasAuthority('EDIT_PRODUCT') or hasRole('SUPER_ADMIN')" class="table-th">Edit</th>
                <th sec:authorize="hasAuthority('DELETE_PRODUCT') or hasRole('SUPER_ADMIN')" class="table-th">Delete</th>
                <th class="table-th">Info</th>
            </tr>
            </thead>


            <tbody th:each="product:${products}" class="table-body">

            <tr class="tbody-tr">
                <td th:text="${product.id}" class="tbody-td"></td>
                <td th:text="${product.name}" class="tbody-td"></td>
                <td th:text="${product.price}" class="tbody-td"></td>
                <td th:text="${product.amount}" class="tbody-td">
                </td>
                <td class="tbody-td">
                    <form action="/product/add_amount" method="post" class="change-amount-form">
                        <input class="change-amount-input" name="amount" placeholder="amount" required type="number" min="1">
                        <input name="id" type="hidden" th:value="${product.id}">
                        <button class="change-amount-btn">change</button>
                    </form>
                </td>
                <td sec:authorize="hasAuthority('EDIT_PRODUCT') or hasRole('SUPER_ADMIN')" class="tbody-category-td"><a th:href="@{/product/update-page/{id}(id=${product.id})}"
                                                 class="tbody-category-td-a">edit</a></td>
                <td sec:authorize="hasAuthority('DELETE_PRODUCT') or hasRole('SUPER_ADMIN')" class="tbody-category-td"><a th:href="@{/product/delete/{id}(id=${product.id})}"
                                                 class="tbody-category-td-a">delete</a></td>
                <td class="tbody-category-td">
                    <div class="dropdown">
                        <button class="dropbtn tbody-category-td-a">info</button>
                        <div class="dropdown-content">
                            <h6 class="dropdown-info" th:text="'caregory: ' + ${product.categories.name}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'description: ' + ${product.description}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'created date: ' + ${product.createdDate}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'updated date: ' + ${product.updatedDate}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'created by: ' + ${product.createdBy}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'lastModifiedBy: ' + ${product.lastModifiedBy}"></h6>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br><br><br>
        <div class="pagination-div" th:if="${pages!=0}">
            <div th:each="pageNumber: ${#numbers.sequence(0, pages)}">
                <form class="pagination-form" action="/product/get_all" method="get">
                    <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                    <button class="pagination-btn" th:text="${pageNumber+1}">1</button>
                </form>
            </div>
        </div>

    </div>

    <div th:if="${status == 3}" class="right-page">
        <table id="table3" class="table t3">

            <thead class="table-head">
            <tr class="table-tr">
                <th class="table-th">Name</th>
                <th class="table-th">Total price</th>
                <th sec:authorize="hasAuthority('GET_ORDER') or hasRole('SUPER_ADMIN')" class="table-th">Orders</th>
            </tr>
            </thead>
            <tbody th:each="userOrder:${userOrders}" class="table-body">

            <tr class="tbody-tr">
                <td th:text="${userOrder.username}" class="tbody-td"></td>
                <td th:text="${userOrder.totalSum}" class="tbody-td"></td>
                <td sec:authorize="hasAuthority('GET_ORDER') or hasRole('SUPER_ADMIN')" class="tbody-category-td">
                    <div class="dropdown">
                        <button class="dropbtn tbody-category-td-a get-orders-btn">get orders</button>

                        <table class="dropdown-content-order order-table">
                            <thead>
                            <tr>
                                <th class="table-th">Id</th>
                                <th class="table-th">Total price</th>
                                <th class="table-th">Product name</th>
                                <th class="table-th">Created date</th>
                                <th class="table-th">Change status</th>
                            </tr>
                            </thead>

                            <tbody th:each="order:${userOrder.orders}">
                            <tr>
                                <td class="tbody-td" th:text="${order.id}"></td>
                                <td class="tbody-td" th:text="${order.amount} + 'x' + ${order.totalPrice/order.amount} + '=' + ${order.totalPrice}"></td>
                                <td class="tbody-td" th:text="${order.products.name}"></td>
                                <td class="tbody-td" th:text="${order.createdDate}"></td>
                                <td>
                                    <form style="display: flex; flex-direction: row" action="/order/change_status"
                                          method="post">
                                        <input type="hidden" th:value="${order.id}" name="orderId">
                                        <select class="get-order-select" name="status">
                                            <option class="get-order-option">CANCEL</option>
                                            <option class="get-order-option">ORDER</option>
                                        </select>
                                        <button class="get-order-button">change</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <br><br><br>
        <div class="pagination-div" th:if="${pages!=0}">
            <div th:each="pageNumber: ${#numbers.sequence(0, pages)}">
            <form class="pagination-form" action="/order/get_all" method="get">
                <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                <button class="pagination-btn" th:text="${pageNumber+1}">1</button>
            </form>
        </div>
        </div>

    </div>

    <div th:if="${status == 5}" class="right-page">
        <table class="table t3">

            <thead class="table-head">
            <tr class="table-tr">
                <th class="table-th">Chat id</th>
                <th class="table-th">Name</th>
                <th class="table-th">Balance</th>
            </tr>
            </thead>
            <tbody th:each="botUser:${botUsers}" class="table-body">

            <tr class="tbody-tr">
                <td th:text="${botUser.chatId}" class="tbody-td"></td>
                <td th:text="${botUser.name}" class="tbody-td"></td>
                <td th:text="${botUser.balance}" class="tbody-td"></td>
            </tr>
            </tbody>
        </table>

        <br><br><br>
        <div class="pagination-div" th:if="${pages!=0}">
            <div th:each="pageNumber: ${#numbers.sequence(0, pages)}">
                <form class="pagination-form" action="/user/get_all_bot_users" method="get">
                    <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                    <button class="pagination-btn" th:text="${pageNumber+1}">1</button>
                </form>
            </div>
        </div>

    </div>

    <div th:if="${status == 4}" class="right-page">
        <button sec:authorize="hasAuthority('CREATE_USER') or hasRole('SUPER_ADMIN')" id="addEmpleyee" class="cat-add-btn">Add employee</button>

        <form method="post" action="/user/add">
            <div id="addEmployeeModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span style="margin: 0 auto" class="close">&times;</span>
                        <h4 style="font-size: 20px">Add employee</h4>
                    </div>
                    <div class="modal-body">
                        <label class="table1-label">Name:</label> <br>
                        <input type="text" placeholder="name" class="table1-input" name="name">
                        <br><br>
                        <label class="table1-label">Username:</label> <br>
                        <input type="text" placeholder="username" class="table1-input" required name="username">
                        <br><br>
                        <label class="table1-label">Password:</label> <br>
                        <input type="text" placeholder="password" class="table1-input" required name="password">
                        <select name="userRoles" style="margin-bottom: 10px; margin-top: 10px">
                            <option>ADMIN</option>
                            <option>ACCOUNTANT</option>
                        </select><br>

                        <div style="display: flex; flex-direction: row">
                            <div style="width: 50%">
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="EDIT_CATEGORY">
                                    EDIT_CATEGORY
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="EDIT_PRODUCT">
                                    EDIT_PRODUCT
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="EDIT_USER">
                                    EDIT_USER
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="DELETE_PRODUCT">
                                    DELETE_PRODUCT
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="GET_CATEGORY">
                                    GET_CATEGORY
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="GET_PRODUCT">
                                    GET_PRODUCT
                                </label><br>
                            </div>

                            <div style="width: 50%">
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="GET_ORDER">
                                    GET_ORDER
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="GET_USER">
                                    GET_USER
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="CREATE_PRODUCT">
                                    CREATE_PRODUCT
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="CREATE_CATEGORY">
                                    CREATE_CATEGORY
                                </label><br>
                                <label>
                                    <input type="checkbox" name="userAuthorities" value="CREATE_USER">
                                    CREATE_USER
                                </label><br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="table1-modal-add-btn"><b>add</b></button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            var modal = document.getElementById("addEmployeeModal");

            var btn = document.getElementById("addEmpleyee");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <table id="table4" class="table t4">

            <thead class="table-head">
            <tr class="table-tr">
                <th class="table-th">id</th>
                <th class="table-th">name</th>
                <th class="table-th">username</th>
                <th sec:authorize="hasAuthority('EDIT_USER') or hasRole('SUPER_ADMIN')" class="table-th">delete</th>
                <th sec:authorize="hasAuthority('DELETE_USER') or hasRole('SUPER_ADMIN')" class="table-th">edit</th>
                <th class="table-th">info</th>
            </tr>
            </thead>

            <tbody class="table-body">

            <tr th:each="user:${users}" class="tbody-tr">
                <td th:text="${user.id}" class="tbody-td"></td>
                <td th:text="${user.name}" class="tbody-td"></td>
                <td th:text="${user.username}" class="tbody-td"></td>
                <td sec:authorize="hasAuthority('DELETE_USER') or hasRole('SUPER_ADMIN')" class="tbody-td"
                    th:if="${!user.userRoles.contains(T(com.example.ecommercial.domain.enums.UserRole).SUPER_ADMIN)}">
                    <a th:href="@{/user/delete/{id}(id=${user.id})}">
                        <button class="tbody-category-td-a">delete</button>
                    </a>
                </td>
                <td sec:authorize="hasAuthority('EDIT_USER') or hasRole('SUPER_ADMIN')" class="tbody-td"
                    th:if="${!user.userRoles.contains(T(com.example.ecommercial.domain.enums.UserRole).SUPER_ADMIN)}">
                    <a th:href="@{/user/update-page/{id}(id=${user.id})}">
                        <button class="tbody-category-td-a">edit</button>
                    </a>
                </td>
                <td class="tbody-category-td">
                    <div class="dropdown">
                        <button class="dropbtn tbody-category-td-a">info</button>
                        <div class="dropdown-content">
                            <h6 class="dropdown-info" th:text="'id: ' + ${user.id}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'name: ' + ${user.name}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'username: ' + ${user.username}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'roles: ' + ${user.userRoles}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'authorities: ' + ${user.userAuthorities}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'created date: ' + ${user.createdDate}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'updated date: ' + ${user.updatedDate}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'created by: ' + ${user.createdBy}"></h6>
                            <hr class="dropdown-info-hr">
                            <h6 class="dropdown-info" th:text="'last modified by: ' + ${user.lastModifiedBy}"></h6>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <br><br><br>
        <div class="pagination-div" th:if="${pages!=0}">
            <div th:each="pageNumber: ${#numbers.sequence(0, pages)}">
            <form class="pagination-form" action="/user/get_all" method="get">
                <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                <button class="pagination-btn" th:text="${pageNumber+1}">1</button>
            </form>
        </div>
        </div>
    </div>

</div>

</body>
</html>