<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product update</title>
    <link rel="stylesheet" type="text/css" href="/css/updatePageStyle.css">
</head>

<body>

<div th:if="${message != null}">
    <div id="snackbar" th:text="${message}"></div>
</div>

<script>
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function () {
        x.className = x.className.replace("show", "");
    }, 3000);
</script>

<form method="post" th:action="@{/product/update}">
    <div class="modal" id="animatedDiv">
        <div class="modal-content">

            <div class="modal-header">
                <a th:href="@{/product/get_all}" class="close">&times;</a>
                <h4 style="font-size: 20px">Edit product</h4>
            </div>

            <div class="modal-body">

                <label class="table1-label">Name:</label> <br>
                <input type="text" th:value="${product.name}" placeholder="name" class="table1-input" required
                       name="name"> <br><br>

                <label class="table1-label">Description:</label> <br>
                <input type="text" th:value="${product.description}" placeholder="description" class="table1-input"
                       name="description" required> <br><br>

                <label class="table1-label">Price:</label> <br>
                <input type="number" th:value="${product.price}" placeholder="price" class="table1-input" min="1"
                       required name="price"> <br><br>

                <label class="table1-label">Amount:</label> <br>
                <input type="number" th:value="${product.amount}" placeholder="amount" min="1" class="table1-input"
                       required name="amount"> <br><br>

                <input type="hidden" th:value="${product.id}" name="id">
            </div>
            <div class="modal-footer">
                <button type="submit" class="table1-modal-add-btn"><b>update</b></button>
            </div>
        </div>
    </div>
</form>


</body>
</html>