<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User update</title>

    <link rel="stylesheet" type="text/css" href="/css/updatePageStyle.css">
</head>

<body>
<div th:if="${message != null}">
    <div id="snackbar" th:text="${message}"></div>
</div>

<script>
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function () {
        x.className = x.className.replace("show", "");
    }, 3000);
</script>

<form method="post" th:action="@{/user/update}">
    <div class="modal" id="animatedDiv" style="padding-top: 40px">
        <div class="modal-content">

            <div class="modal-header">
                <a th:href="@{/user/get_all}" class="close">&times;</a>
                <h4 style="font-size: 20px">Edit user</h4>
            </div>

            <div class="modal-body">

                <label class="table1-label">Name:</label> <br>
                <input type="text" th:value="${user.name}" placeholder="name" class="table1-input" required name="name">
                <br><br>

                <label class="table1-label">Username:</label> <br>
                <input type="text" th:value="${user.username}" placeholder="username" class="table1-input" required
                       name="username"> <br><br>

                <label class="table1-label">Password:</label> <br>
                <input type="text" placeholder="password" class="table1-input" required name="password"> <br><br>

                <p th:text="'Roles: ' + ${user.userRoles}"></p>
                <p th:text="'Authorities: ' + ${user.userAuthorities}"></p> <br>

                <select name="userRoles">
                    <option>ADMIN</option>
                    <option>ACCOUNTANT</option>
                </select><br> <br>


                <div style="display: flex; flex-direction: row">

                    <div style="width: 50%">
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="EDIT_CATEGORY"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_CATEGORY)}">
                            <input type="checkbox" name="userAuthorities" value="EDIT_CATEGORY"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_CATEGORY)}">
                            EDIT_CATEGORY
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="EDIT_PRODUCT"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_PRODUCT)}">
                            <input type="checkbox" name="userAuthorities" value="EDIT_PRODUCT"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_PRODUCT)}">
                            EDIT_PRODUCT
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="EDIT_USER"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_USER)}">
                            <input type="checkbox" name="userAuthorities" value="EDIT_USER"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).EDIT_USER)}">
                            EDIT_USER
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="DELETE_PRODUCT"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).DELETE_PRODUCT)}">
                            <input type="checkbox" name="userAuthorities" value="DELETE_PRODUCT"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).DELETE_PRODUCT)}">
                            DELETE_PRODUCT
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="GET_CATEGORY"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_CATEGORY)}">
                            <input type="checkbox" name="userAuthorities" value="GET_CATEGORY"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_CATEGORY)}">
                            GET_CATEGORY
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="GET_PRODUCT"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_PRODUCT)}">
                            <input type="checkbox" name="userAuthorities" value="GET_PRODUCT"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_PRODUCT)}">
                            GET_PRODUCT
                        </label><br>
                    </div>

                    <div style="width: 50%">
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="GET_ORDER"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_ORDER)}">
                            <input type="checkbox" name="userAuthorities" value="GET_ORDER"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_ORDER)}">
                            GET_ORDER
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="GET_USER"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_USER)}">
                            <input type="checkbox" name="userAuthorities" value="GET_USER"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).GET_USER)}">
                            GET_USER
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="CREATE_PRODUCT"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_PRODUCT)}">
                            <input type="checkbox" name="userAuthorities" value="CREATE_PRODUCT"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_PRODUCT)}">
                            CREATE_PRODUCT
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="CREATE_CATEGORY"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_CATEGORY)}">
                            <input type="checkbox" name="userAuthorities" value="CREATE_CATEGORY"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_CATEGORY)}">
                            CREATE_CATEGORY
                        </label><br>
                        <label>
                            <input type="checkbox" checked name="userAuthorities" value="CREATE_USER"
                                   th:if="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_USER)}">
                            <input type="checkbox" name="userAuthorities" value="CREATE_USER"
                                   th:unless="${user.userAuthorities.contains(T(com.example.ecommercial.domain.enums.UserAuthority).CREATE_USER)}">
                            CREATE_USER
                        </label><br>
                    </div>
                </div>
                <input type="hidden" th:value="${user.id}" name="id">
            </div>
            <div class="modal-footer">
                <button type="submit" class="table1-modal-add-btn"><b>update</b></button>
            </div>
        </div>
    </div>
</form>

</body>
</html>