<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test add</title>
</head>
<body>

<h1 th:text="${message}"></h1>


<form action="/user/add" method="post" th:object="${user}">
    <input type="text" placeholder="name"  required name="name">
    <input type="text" placeholder="username" required name="username">
    <input type="text" placeholder="password" required name="password">
    <select name="userRoles">
        <option>ADMIN</option>
        <option>ACCOUNTANT</option>
    </select><br>
    <label> EDIT_CATEGORY
        <input type="checkbox" name="userAuthorities" value="EDIT_CATEGORY">
    </label><br>
    <label> EDIT_PRODUCT
        <input type="checkbox" name="userAuthorities" value="EDIT_PRODUCT">
    </label><br>
    <label> EDIT_USER
        <input type="checkbox" name="userAuthorities" value="EDIT_USER">
    </label><br>
    <label> DELETE_PRODUCT
        <input type="checkbox" name="userAuthorities" value="DELETE_PRODUCT">
    </label><br>
    <label> GET_CATEGORY
        <input type="checkbox" name="userAuthorities" value="GET_CATEGORY">
    </label><br>
    <label> GET_PRODUCT
        <input type="checkbox" name="userAuthorities" value="GET_PRODUCT">
    </label><br>
    <label> GET_ORDER
        <input type="checkbox" name="userAuthorities" value="GET_ORDER">
    </label><br>
    <label> GET_USER
        <input type="checkbox" name="userAuthorities" value="GET_USER">
    </label><br>
    <label> CREATE_PRODUCT
        <input type="checkbox" name="userAuthorities" value="CREATE_PRODUCT">
    </label><br>
    <label> CREATE_CATEGORY
        <input type="checkbox" name="userAuthorities" value="CREATE_CATEGORY">
    </label><br>
    <label> CREATE_USER
        <input type="checkbox" name="userAuthorities" value="CREATE_USER">
    </label><br>
    <button>Add</button>
</form>
</body>
</html>